*, *::after, *::before
{
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}

body 
{
    font-size: 1.6rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.7;
    background: url(https://images.unsplash.com/photo-1588930874653-e833732364d7?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxMTgwOTN8MHwxfHNlYXJjaHwxNjF8fGNsb2NrfGVufDB8fHx8MTY4MjE3NTM0Mg&ixlib=rb-4.0.3&q=80&w=1080);
    background-repeat: no-repeat; 
    background-position: center;
    background-size: cover;
    overflow: hidden;
}

p
{
    font-size: 1rem;
     color: #fff;
     text-align: left;
}

.container
{
    margin: 0 auto;
    margin-top: 1rem;
    display: flex;
    justify-content: center;
}

.time
{
    padding: 1rem;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    gap:1rem;
}

input[type = "time"]
{
    padding: 1rem 2.5rem;
    border-radius: 0.3rem;
    border: none;
    max-width: 40%;
}

select#country
{
    padding: 1rem 2rem;
    border-radius: 0.3rem;
    border: none;
    max-width: 40%;
    appearance: none;
} 

select#timeZone
{
    border-radius: 0.3rem;
    border: none;
    appearance: none;
    padding: 1rem 2rem;
    max-width: 40%;
    background-color: #333;
    color: #fff;
}

button[type = "submit"]
{
    padding: 1rem 2rem;
    border-radius: 0.25rem; 
    border: none;
    margin-top: 1em;
    max-width: 20%;
    background-color: rgba(21,32,43,1.00);

    color: #fff;
}

button[type = "submit"]:hover
{
    opacity: 0.5;
    background-color: #333;

}

h4
{
    color: #e1e9ee;
}

h3
{
    font-size: 1rem;
    color: #fff;
    margin-top: 22rem;
    visibility: hidden;
}

#faketime
{
    display: none;
}


@media (max-width: 600px) 
{
    button[type = submit]
    {
        max-width: 100%;
    }

    input[type = time]
    {
        max-width: 100%;
    }

    #country
    {
        min-width: 90%;
    }

    #timeZone
    {
        min-width: 90%;
    }

    h4
    {
        font-size: 0.4em;
        line-height: 1.3rem;
    }

}

@media (max-width: 768px) 
{
    body 
    {
        line-height: 0.7;
    }
    h4
    {
        font-size: 0.7em;
    }

}

@media (max-width: 1024px)
{


}

@media (max-width: 768px), (max-width: 1024px)
{
    *, *::after, *::before
    {
       margin: inherit;
    }
}
